
header{
    color: aliceblue;
    display: block;
    font-weight: bold;
    font-style: italic;
    background-color:cadetblue;
    border: 10px;
    border-color: chocolate;
    padding: 10px;
    margin: auto;
    

}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul li {
    color: goldenrod;
}

nav {
    display: flex;
    flex-direction: row;
    /* justify-content: ;
    align-items: ; */
}

.hero {

}

#profile-pic {
    width: 300px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

}

.flex-row {
    display: flex;
}

.section-title {

}

.AboutMe {
    display: block;
    background-image: url("https://www.freeimages.com/photo/search-engine-optimization-1637221");
    background-size: 5000px;
}


.MyWork {
    
    color: white;
    background-image: url("https://images.freeimages.com/images/large-previews/d94/old-exercise-book-1558140.jpg");
    background-position:center;
    background-size: 500px;
    background-repeat: no-repeat;
    text-align: start;
    
}


.ContactMe {
    display: flex;
    background-image: url("https://images.freeimages.com/images/large-previews/e6c/antena-de-comunicaciones-1638488.jpg");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
}

/* flex-direction: row-reverse;
display: flex;
flex-direction: column;
flex-direction: column-reverse;
justify-content: flex-start; (default)
justify-content: flex-end;
justify-content: center;
justify-content: space-between;
align-items: flex-start, flex-end, center, stretch
.target.males:nth-of-type() {
align-self: [same as align-items]
or
flex-grow; 1; [it's a ratio]
*/


